.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: rgb(115, 255, 236);
    color: #333;
}

.alert-danger {
    background: rgb(241, 90, 90);
    color: #fff;
}

.alert-success {
    background: rgb(98, 248, 98);
    color: #fff;
}
