.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: rgb(115, 255, 236);
    color: #333;
}

.alert-danger {
    background: rgb(241, 90, 90);
    color: #fff;
}

.alert-success {
    background: rgb(2, 155, 2);
    color: #fff;
}

.bg-primary,
.btn-primary {
    background-color: rgb(91, 0, 156) !important;
}

.w-23 {
    width: 22%;
}

/* Landing Page */

img {
    width: 100%;
    height: 100%;
}
.showcase {
    position: relative;
    background: url('../img/landing.jpg') no-repeat center center/cover;
    height: 93vh;
    color: #fff;
}
.showcase-inner {
    text-align: center;
    padding-top: 10%;
    height: 100%;
    width: 60%;
    /* margin: auto; */
}
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Dashboard Styles */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* All Schools Card */

.schoolName {
    cursor: pointer;
    color: rgb(219, 0, 0);
}
